body {
  font-family: Arial, sans-serif;
  margin: 0;
}

header {
  background-color: #3f51b5;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

h1 {
  margin: 0;
}

form {
  display: flex;
  align-items: center;
}

input[type="text"] {
  padding: 5px;
  border-radius: 3px;
  border: none;
  margin-right: 10px;
}

button[type="submit"] {
  padding: 5px 10px;
  border-radius: 3px;
  border: none;
  background-color: #fff;
  color: #3f51b5;
  cursor: pointer;
}

main {
  padding: 20px;
}

.current-weather {
  background-color: #f0f0f0;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.current-weather p {
  margin: 10px 0;
}

.forecast {
  display: flex;
  flex-wrap: wrap;
}

.wi {
  font-size: 26px;
  margin-top: 10px;
}

.forecast-data {
  background-color: #f0f0f0;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  flex-basis: calc(33.33% - 20px);
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 600px) {
  .forecast-data {
    width: 100%;
    flex-basis: 100%;
  }
}
